<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra RPS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <style>
      .nav {
        font-family: Arial; 
      }
    </style>
  </head>

  <body>
    <div clas="nav">
      <ul>
        <li> <a href="/rock">Rock</a> </li>
      </ul>
    </div>
    
    <%= yield %>

  </body>
</html>
